.ai {
  max-width: 1920px;
  margin: 0 auto;
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.68%, #0A0A0A), color-stop(97.88%, #161616));
  background: -webkit-linear-gradient(top, #0A0A0A 3.68%, #161616 97.88%);
  background: -o-linear-gradient(top, #0A0A0A 3.68%, #161616 97.88%);
  background: linear-gradient(180deg, #0A0A0A 3.68%, #161616 97.88%);
  color: #fff;
  overflow: hidden;
}

.ai__title {
  font-size: 40px;
}

.ai-head {
  margin-top: 70px;
  text-align: center;
  min-height: 80px;
  border-bottom: 4px solid #F18B00;
}

.ai-head__title {
  font-size: 26px;
  line-height: 28px;
}

.ai-sub__title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 10px;
}

.ai-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 4px dashed #F18B00;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin-top: 25px;
  position: relative;
  z-index: 2;
}

.ai-item__png {
  width: 60px;
  margin-right: 20px;
}

.ai-item__text {
  font-size: 18px;
  line-height: 20px;
}

.ai-bg {
  position: absolute;
  bottom: 0;
  left: 53%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ai .tiangle {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  height: 75%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.ai-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #F18B00;
  position: relative;
  z-index: 2;
}

.ai-card-title {
  min-width: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  background: #F18B00;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  margin-right: 20px;
}

.ai-card-item li {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 18px;
  line-height: 24px;
}

.ai-card-item li::before {
  content: '';
  min-width: 7px;
  min-height: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  margin-top: 10px;
  margin-right: 15px;
}

.ai-card-item li:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .ai {
    padding: 50px 0;
  }
  .ai__title {
    font-size: 30px;
  }
  .ai-head {
    margin-top: 50px;
    min-height: auto;
    padding-bottom: 15px;
    border-bottom: 2px solid #F18B00;
  }
  .ai-head__title {
    font-size: 24px;
  }
  .ai-sub__title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
  }
  .ai-item {
    border: 2px dashed #F18B00;
    margin-top: 20px;
  }
  .ai-item__png {
    width: 50px;
    margin-right: 10px;
  }
  .ai-item__text {
    font-size: 16px;
    line-height: 20px;
  }
  .ai-bg {
    display: none;
  }
  .ai .tiangle-mob {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    margin-top: 50px;
  }
  .ai-card {
    margin-top: 20px;
  }
  .ai-card-title {
    min-width: 120px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 15px;
  }
  .ai-card-item li {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 18px;
    line-height: 24px;
  }
  .ai-card-item li::before {
    content: '';
    min-width: 7px;
    min-height: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #fff;
    margin-top: 10px;
    margin-right: 15px;
  }
  .ai-card-item li:last-child {
    margin-bottom: 0;
  }
}
